*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../public/images/bg-desktop.png');
    background-color: hsl(0, 100%, 74%);
}

.app--container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100vh;
}

.light-text{
    font-weight: 300;
}

.red-text{
    color: hsl(0, 100%, 74%);
}

@media (max-width: 1025px ) {
    body{
    background-image: url('../public/images/bg-mobile.png');
    padding-top: 4em;
    }
    .app--container{
        flex-flow: column nowrap;
    }
}